@font-face {
    font-family: 'Sweet_Dessert_DEMO';
    src: url('../../assets/fonts/Sweet_Dessert/Sweet_Dessert.woff2') format('woff2'),
        url('../../assets/fonts/Sweet_Dessert/Sweet_Dessert.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cherolina';
    src: url('../../assets/fonts/Cherolina/Cherolina.woff2') format('woff2'),
        url('../../assets/fonts/Cherolina/Cherolina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FoamyDessertPRINT';
    src: url('../../assets/fonts/FaomyDessert/FoamyDessertPRINTRegular.woff2') format('woff2'),
        url('../../assets/fonts/FaomyDessert/FoamyDessertPRINTRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brownies';
    src: url('../../assets/fonts/Brownies/Brownies.woff2') format('woff2'),
        url('../../assets/fonts/Brownies/Brownies.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    .boton-ingresar {
        background-color: transparent;
        color: deeppink;
        border: none;
        float: right;

        &:hover {
            background-color: transparent;
            color: darkviolet
        }
    }

    .add {
        width: 100px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    h1 {
        text-align: center;
        margin: 50px;
        padding: 10px;
        margin-top: 10px;
        width: 4em;
        -webkit-text-stroke: 1px black;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        color: white;
        filter: drop-shadow(3px 5px 6px rgb(71, 71, 71));
        font-weight: bold
    }

    .titulo {}

    .wrapper {
        height: 80px;
        width: 100%;
        margin: 30px 0;
        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;

        -webkit-animation: rainbow 18s ease infinite;
        -z-animation: rainbow 18s ease infinite;
        -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;
    }

    @-webkit-keyframes rainbow {
        0% {
            background-position: 0% 82%
        }

        50% {
            background-position: 100% 19%
        }

        100% {
            background-position: 0% 82%
        }
    }

    @-moz-keyframes rainbow {
        0% {
            background-position: 0% 82%
        }

        50% {
            background-position: 100% 19%
        }

        100% {
            background-position: 0% 82%
        }
    }

    @-o-keyframes rainbow {
        0% {
            background-position: 0% 82%
        }

        50% {
            background-position: 100% 19%
        }

        100% {
            background-position: 0% 82%
        }
    }

    @keyframes rainbow {
        0% {
            background-position: 0% 82%
        }

        50% {
            background-position: 100% 19%
        }

        100% {
            background-position: 0% 82%
        }
    }


}