h3 {
    color: black
}

cite {
    font-size: 1.2em;
    color: green;
}

.text-muted {
    font-weight: bold;
}

.container {

    button {
        border-radius: 50px;
        margin-bottom: 25px;

        a {
            display: flex;
            color: blanchedalmond;
            font-weight: bold;
            font-size: 22px;
        }

        img {
            margin: 5px;
            width: 25px;
        }
    }

}